.box_main{

    display: flex;
    gap: 20px;
    width: 100%;
}

.back_box{

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.sanda{

    width: 50%;
}

.darkm{

    width: 50%;
    display: flex;
    justify-content: right;
}
#tasks{

    display: flex;
    flex-direction: column;
    gap:  20px;
    box-sizing: border-box;
    width: 600px;
}



div{

    display: flex;
    gap: 59px;
    width: 600px;
    box-sizing: border-box;

    
    
    
}

.dark{

    color:rgb(123, 234, 195);
    background-color: rgb(48, 48, 48);
}


