.box_main{

    display: flex;
    gap: 20px;
}

#tasks{

    display: flex;
    flex-direction: column;
    gap:  20px;
}

div{

    display: flex;
    gap: 188px;
    
    
}

.back_box{

    display: flex;
    flex-direction: column;
    gap: 20px;
}