.c1 {
    height: 400px;
    width: 400px;
    border: solid 5px black;
    border-radius: 200px;
    background-color: lightgreen;


}

.c2 {

    height: 150px;
    width: 150px;
    border: solid 25px white;
    border-radius: 100px;
    background-color: lightgreen;
    margin-top: 104px;
}