body {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    background-color: #101010;
    font-family: Lexend;

}

.page_1 {

    width: auto;
    height: 100vh;
    /* border: solid white 2px; */
    background-image: url("Abstract_Design.svg");
    background-repeat: no-repeat;
    background-color: #101010;
    padding-top: 13px;
    padding-left: 120px;
    padding-right: 120px;
    gap: 50px;




}

/* ----------------------------------------------------navbar-------------------------------------------------------------------------------- */
.navbar {

    width: 100%;
    height: 10%;
    /* border:  solid 2px black; */
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background-color: #1C1C1C;
    font-family: Lexend;
    font-weight: 400;
    position: relative;
}

.options {

    width: 10%;
    height: 90%;
    /* border: solid 2px black; */
}

#symbol {

    position: absolute;
    left: 41px;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;

}

.symbol_image {

    width: 45%;
    height: 70%;
    /* border: solid 2px black; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
}

#pages {
    position: absolute;
    width: 40%;
    left: 32%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.diff_pages {

    width: 20%;
    height: 69%;
    /* border: solid 2px black; */
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #1C1C1C;
    border: none;
    font-family: Lexend;
    font-weight: 400;
}

.diff_pages:hover {

    background-color: #383838;
}

#authentication {

    position: absolute;
    width: 20%;
    left: 77%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.registering {

    width: 46%;
    height: 69%;
    /* border: solid 2px black; */
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #1C1C1C;
    border: none;
    font-family: Lexend;
    font-weight: 400;

}

.registering:hover {

    background-color: #CAFF33;
    color: #1C1C1C;
}

#hamburger_icon {

    height: 74%;
    width: 74%;
    display: none;
}

/* ------------------------------------------------------------------navbar over----------------------------------------------------------- */

/* ----------------------------------------------------page_1_content-------------------------------------------------------------------------------- */

.page_1_content {

    width: 100%;
    height: 90%;
    /* border: solid black 2px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* justify-content:space-around; */
    gap: 6%;
    padding-left: 20px;
    padding-right: 20px;
}

.content {

    width: 40%;
    height: 70%;
    /* border: solid black 2px; */
    background-color: #101010;
    color: #FFFFFF;
}

.information_about_bank {

    width: 77%;
    height: 9%;
    /* border: solid black 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    border-radius: 35px;
    position: relative;
    background-color: #262626;
    color: #FFFFFF;
}

.message {

    width: 20%;
    height: 95%;
    /* border: solid black 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0%;
    font-family: Lexend;
    font-size: 91%;

}

#credit_info {

    width: 69%;
    position: absolute;
    left: 16%;

}

.welcome_message {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 85%;
    height: 67%;
    /* border: solid black 2px; */
    font-family: Lexend;

}

.text2 {

    font-size: 200%;
    font-weight: bolder;

}

.text {

    font-size: 95%;
    font-weight: lighter;
    color: #E4E4E7;
}

.get_started {

    width: 24%;
    height: 10%;
    font-family: Lexend;
    border-radius: 25px;
    background-color: #262626;
    color: #FFFFFF;
    border: none;
}

.get_started:hover {

    background-color: #CAFF33;
    color: #1C1C1C;
}

#bank_info {

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    justify-content: space-around;


}

#second_content_box {
    display: flex;
    width: 50%;
    height: 85%;
    background-image: url("group_1.svg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.content_2 {

    border: white 2px solid;
    height: 50%;
    width: 18%;

}

#monthly_income {

    position: absolute;
    left: 44%;
    top: 19%;
    width: 11%;
    height: 10%;
    border-radius: 15px;
}

#vector_image {

    position: absolute;
    left: 73.5%;
    background-image: url("vector.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

/* ----------------------------------------------------------------------page 1 over---------------------------------------------------------------- */


/* ------------------------------------------------------------------------page2--------------------------------------------------------------------------------- */

#main_page2 {
    /* height: 100vh; */
    /* width: auto; */
    background-image: none;
    background-color: #101010;
    padding-left: 138px;
    /* display: flex;
    justify-content: center; */
}

.textarea {

    width: 100%;
    height: 20%;
    /* border: 2px white solid; */
}

.our_services {

    font-size: 200%;
}

.services {

    width: 100%;
    height: 30%;
    /* border: 2px white solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.type_of_services {

    width: 20%;
    height: 75%;
    /* border: 2px white solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;


}

.symbol_of_service {

    width: 80%;
    height: 20%;
    /* border: white 2px solid; */


}

#symbol_img {

    height: 50%;
    width: 32%;
    border-radius: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#CAFF331A, #CAFF3300);

}

.symbol_icon {

    width: 86%;
    height: 86%;
    /* border: white 2px solid; */
    border-radius: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol_button {

    background-color: transparent;
    border: none;
}

.symbol_icon:hover {

    background-image: linear-gradient(#CAFF331A, #CAFF3300);
    border: #CAFF33;

}

#symbol_about {

    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol_details {

    font-family: Lexend;
    color: #FFFFFF;

}

/* --------------------------------------------------------------------------------second page over----------------------------------------------------------------------------------- */

/* --------------------------------------respondsive design------------------------------------- */

@media only screen and (max-width: 600px) {

    .page_1 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20PX;
        gap: 20PX;
        /* border: solid white 2px; */
        height: 150vh
    }

    .page_1_content {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #pages {

        display: none;
    }

    #authentication {

        display: none;

    }

    #nav_bar {

        width: 300px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        justify-content: space-between;
        height: 6%;
        padding-right: 20px;
    }

    #hamburger_icon {

        display: flex;
        height: 51%;
        width: 12%;
        border-radius: 16px;
    }


    .symbol_image {

        padding-left: 47px;
    }

    .content {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* padding-left: 20px; */
        gap: 20px;
    }

    .information_about_bank {

        width: 250px;
        font-size: 70%;
        height: 75px;

    }

    .welcome_message {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 68%;
        padding-top: 20px;

    }

    .text {

        height: 69%;
        width: 242%;
        /* border: solid 2px white; */
        display: flex;
        justify-content: center;
        font-size: 115%;
        text-align: center;

    }

    .text2 {

        height: 69%;
        width: 268%;
        text-align: center;
    }

    #bank_info {

        font-size: 100%;
    }

    .get_started {

        width: 100%;
        height: 16%;
    }

    #second_content_box {

        height: 80%;
        width: 100%;
        background-image: url("mobile.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        /* border: solid 2px white; */
    }

    /* -----------------------------------------------------page2 respondsiveness starts from here---------------------------------------------------------------- */

    #main_page2 {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0px;
        gap: 40px;
    }

    .textarea {

        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .services {


        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;

    }

    #symbol_img {

        width: 100%;
        height: 200%;
        border-radius: 200px;

    }
}

/* -------------------------------------------------------page2 over------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------for tablets------------------------------------------- */


@media only screen and (max-width: 770px) {

    .page_1 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20PX;
        gap: 20PX;
        /* border: solid white 2px; */
        height: 150vh
    }

    .page_1_content {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #pages {

        display: none;
    }

    #authentication {

        display: none;

    }

    #nav_bar {

        width: 300px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        justify-content: space-between;
        height: 6%;
        padding-right: 20px;
    }

    #hamburger_icon {

        display: flex;
        height: 51%;
        width: 12%;
        border-radius: 16px;
    }


    .symbol_image {

        padding-left: 47px;
    }

    .content {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* padding-left: 20px; */
        gap: 20px;
    }

    .information_about_bank {

        width: 250px;
        font-size: 70%;
        height: 75px;

    }

    .welcome_message {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 68%;
        padding-top: 20px;

    }

    .text {

        height: 69%;
        width: 242%;
        /* border: solid 2px white; */
        display: flex;
        justify-content: center;
        font-size: 115%;
        text-align: center;

    }

    .text2 {

        height: 69%;
        width: 268%;
        text-align: center;
    }

    #bank_info {

        font-size: 100%;
    }

    .get_started {

        width: 100%;
        height: 16%;
    }

    #second_content_box {

        height: 80%;
        width: 100%;
        background-image: url("mobile.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        /* border: solid 2px white; */
    }

    .type_of_services {
        width: 20%;
        height: 41%;

    }

    /* -----------------------------------------------------page2 respondsiveness starts from here---------------------------------------------------------------- */

    #main_page2 {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0px;
        gap: 40px;
    }

    .textarea {

        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .services {


        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;

    }

    #symbol_img {

        width: 100%;
        height: 200%;
        border-radius: 200px;

    }
}

/* ------------------------------------------------------------------ends here home page and page 2------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------login page-------------------------------------------------------------------------------------------------------------- */


#login_page {

    background: none;
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

#login_area {

    /* border: solid 2px white; */
    width: 99%;
    height: 75%;
    background-image: url("Login.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 34px;

}

.login_credentials {

    height: 75%;
    width: 80%;
    /* border: solid white 2px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#login_page_message {

    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messages_of_login {

    width: 90%;
    height: 30%;
    /* border: solid 2px white; */
    font-family: lexend;
    color: #CAFF33;
    text-align: center;
}

#login_heading {

    height: 50%;
    font-size: 200%;
}

#login_heading_login_page {

    height: 50%;
    font-size: 200%;
}

.inputs_for_login {

    width: 80%;
    height: 40%;
    /* border: solid 2px white; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#login_tabs {

    height: 20%;
    width: 80%;
}

.inputs {

    width: 40%;
    height: 60%;
    background-color: transparent;
    border: solid #262626 2px;
    border-radius: 40px;
    font-family: Lexend;
    color: #FFFFFF;
    padding-left: 20px;
}

#login_buttons_and_helps {

    display: flex;
    flex-direction: column;
    height: 70%;
}

.remaining_deatails {

    width: 40%;
    height: 10%;
    /* border: solid white 2px; */
    position: relative;
}

#forgot_password {

    height: fit-content;
    font-family: Lexend;
    text-align: center;
    font-size: 77%;
}

#login_buttons {

    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: solid white 2px;

}

.button1 {

    width: 92%;
    height: 23%;
    border: none;
    font-family: Lexend;
    border-radius: 20px;
    background-color: #262626;
    color: #FFFFFF;
}

.button1:hover {

    background-color: #CAFF33;
    color: #1C1C1C;
}

.continue_with {

    width: 57%;
    height: 10%;
    /* border: solid white 2px; */
    position: absolute;
    top: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    /* background-color: #262626; */
    /* padding-left: 20px; */
}

.text_for_coninue_with {

    height: 50%;
    width: 81%;
    background-color: #1C1C1C;
    color: #FFFFFF;
    font-family: Lexend;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 77%;
}

#social_media {

    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.big3 {

    width: 28%;
    height: 62%;
    /* border: solid 2px white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(#CAFF331A, #CAFF3300);
    border-radius: 40px;
}

.social_symbol {

    width: 78%;
    height: 77%;
    /* border: solid 2px white; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    /* background-image: linear-gradient(#CAFF331A,#CAFF3300); */
}

.social_symbol:hover {

    background-image: linear-gradient(#CAFF331A, #CAFF3300);
    border: #CAFF33;

}

.company {

    width: 72%;
    height: 72%;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_3 {

    width: auto;
    height: 100vh;
    /* border: solid white 2px; */
    background-color: #101010;



}

#footer {

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-end;
    background-color: #101010;
    background: #101010;

}

.footer_details {

    height: 50%;
    width: 100%;
    /* border: solid 2px white; */
    padding: 0%;
    background-image: url("fotter.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

/* -----------------------------------------------login page over------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------login page respondsive----------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {

    #login_area {

        width: 111%
    }

    #login_tabs {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .inputs {

        width: 127%;
        height: 46%;
    }

    .remaining_deatails {
        width: 147%;
    }

    .button1 {

        width: 96%;
    }

    .big3 {

        width: 27%;
        height: 54%;
    }

    .footer_details {
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }

}

/* -------------------------------------------------------respondsive design over------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------signup page------------------------------------------------------------------------------------------ */

#signup_page {

    background: none;
    display: flex;
    justify-content: center;
    padding-top: 30px;


}


#signup_tabs {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    width: 80%;
    gap: 20px;
}

#signup_area {
    /* border: solid 2px white; */
    width: 99%;
    height: 78%;
    background-image: url(Login.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 34px;
}

#signup_buttons_and_helps {
    display: flex;
    flex-direction: column;
    height: 70%;
    padding-top: 13px;
}

.inputs_for_sigup {
    width: 40%;
    height: 60%;
    background-color: transparent;
    border: solid #262626 2px;
    border-radius: 46px;
    font-family: Lexend;
    color: #FFFFFF;
    padding-left: 20px;
}

.remaining_details_for_signup {
    width: 47%;
    height: 10%;
    /* border: solid white 2px; */
    position: relative;
}

/* ------------------------------------signup page complete---------------------------------------------------- */

/* --------------------------------------------------------------------------sigup page respoonsive design---------------------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {

    #signup_area {

        width: 111%;
        height: 100%;
        display: flex;
        gap: 114px;
    }

    #signup_tabs {

        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 18px;
        height: 21%;
        width: 118%;
    }

    .inputs_for_sigup {

        width: 127%;
        height: 39%;
    }

    .remaining_details_for_signup {
        width: 147%;
        padding-top: 111px;
    }

    .button1 {

        width: 96%;
    }

    .big3 {

        width: 27%;
        height: 54%;
    }

    .footer_details {
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }

}

/* -------------------------------------------------respondsive design for signup page is over------------------------------------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------page3------------------------------------------------------------------------------------- */

#main_page3 {

    background: #101010;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 166vh;
}

.page3_content {

    width: 97%;
    height: 73%;
    /* border: solid white 2px; */

}

#page3_content_heading {

    height: 8%;

}

.usecase {

    font-size: 180%;
}

.usecase_about {

    padding-top: 20px;
}

#page3_main_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 65px;
}

.page3_content_grids {

    width: 36%;
    height: 36%;
    /* border: solid 2px white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    gap: 20px;
    /* background-color: #1A1A1A; */

}

.page3_content_options {

    width: 40%;
    height: 40%;
    border: solid 2px #262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    gap: 15px;
    background-color: #1A1A1A;
    border-radius: 20px;


}

#first_pair {

    background-image: url("backround_for_pg3.svg");
    background-repeat: no-repeat;
    border-radius: 20px;
    border: solid 2px #262626;
}

.content_image_and_about {

    width: 33%;
    height: 47%;
    /* border: solid 2px white; */
    background-image: linear-gradient(#CAFF331A, #CAFF3300);

}

#photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.icon {
    height: 74%;
    width: 74%;
    border: none;
    border-radius: 36px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(#CAFF331A, #CAFF3300); */
}

.icon:hover {

    background-image: linear-gradient(#CAFF331A, #CAFF3300);
    border: #CAFF33;

}

#name_of_the_photo {

    height: 20%;
    width: 100%;

}

#name_of_the_photo {

    text-align: center;
    background: #1A1A1A;
}

#second_pair {

    /* display: flex; */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
}

.page3_content_grid_content2 {

    width: 100%;
    height: 20%;
    /* border: solid 2px white; */

}

#For_Individuals {

    height: 9%;
    display: flex;
    align-items: center;

}

#page3_content {

    font-size: 77%;
}

#percentages {

    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
}

.page3_icons {

    width: 29%;
    height: 72%;
    border-right: dashed 2px white;
}

.page3_icons {

    font-size: 86%;
}

.learn_more {

    height: 74%;
    width: 25%;
    border: none;
    border-radius: 20px;
    background-color: #262626;
    border: #383838;
    font-family: Lexend;
    color: #FFFFFF;
}

.learn_more:hover {

    background-color: #CAFF33;
    color: #101010;
}

#page3_symbol {

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

/* ------------------------------------------------------------------------over page_3-------------------------------------------------------------------------------------------------- */







/* ------------------------------------------------------------------------deposit page-------------------------------------------------------------------------------------------------- */


#deposit_page {

    border: solid 2px rgb(79, 79, 79);
    height: 460px;
    width: 781px;
    /* position: absolute;
    top: 128%; */
    border-radius: 43px;
    background-image: url("backround_for_pg3.svg");
    background-repeat: no-repeat;
    box-sizing: border-box;
    /* padding-top: 45px; */
    padding-bottom: 0px;
    /* padding-left: 132px; */

}

.page_3::backdrop {
  
    background-color: #0a0a0a;
    opacity: 0.6;

}

.deposit_page_heading{

    width:99%;;
    height: 33%;
    /* border: solid rgb(92, 90, 90) 2px; */
}

#deposit_page_main_heading_and_close_button{

    height: 13%;
    display: flex;
}

.deposit_page_top_contents{

    width: 50%;
    height: 100%;
    /* border: solid white 2px; */
}

#deposit_heading{

    width: 350%;
    color: #CAFF33;
    display: flex;
    align-items: center;
    font-size: 185%;
    padding-top: 2px;
    justify-content: center;
}

#close_button{

    background-size: contain;
    background-color: transparent;
    background-position: center;
    height: 43%;
    width: 13%;
    color:#FFFFFF;
    border: none;
    border-radius: 20px;
}

#close_button:hover{

    background-color: #CAFF33;
    color: #000000;
}


#depositing_account_details{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 64%;
    border-top: none;
    border-bottom: none;
}

.account_details{

    width: 57%;
    height: 19%;
    border: none;
    /* border-color: #383838; */
    background-color:#383838 ;
    color: #FFFFFF;
    border-radius: 20px;
    padding-left: 20px;
    font-family: Lexend;
    box-sizing: border-box;

}

#deposit_button{

    height: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: none;
}

.deposit_confirmation{

    height: 79%;
    width: 37%;
    background-color: #383838;
    border: none;
    color: #FFFFFF;
    border-radius: 20px;
    font-family: Lexend;

}

.deposit_confirmation:hover{

    background-color: #CAFF33;
    color: #000000;
}

#deposit_amount{

    padding-right: 20px;
    
}
#deposit_amount_input_field{

    padding-right: 20px;
}
/* ------------------------------------------------------------------account_details------------------------------------------------------------------------------------------- */

#account_details{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 80%;
}
.account_info{

    width: 57%;
    height: 19%;
    border: solid 2px rgb(124, 121, 121);
    border-radius: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}


/* ----------------------------------------------------------------classes for javascript------------------------------------------------------------------------------------------------------- */

.signupmessage {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #CAFF33;
    text-align: center;
    padding-top: 51px;
    height: 50%;
    font-size: 131%;
}

#login_area_after_logging_in {
    /* border: solid 2px white; */
    width: 99%;
    height: 75%;
    background-image: url(Login.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 34px;
    gap: 20px;
    padding-bottom: 121px;
    box-sizing: border-box;
}
